.c3-line {
    stroke-width: .2rem;
}

.c3-texts .c3-text,
g.c3-axis text,
.c3-legend-item {
    font-size: 0.8rem;
    font-weight: 200;
    color: #838383;
}

.title {
  font-size: 0.8rem;
  font-weight: 700;
  margin-bottom: 0px;
}
.subtitle {
  font-size: 0.7rem;
  font-style: italic;
  margin-bottom: 10px;
}
.container {
  padding-top:10px;
}
