.c3-line {
    stroke-width: .2rem;
}

.c3-texts .c3-text,
.c3-legend-item {
    font-size: 0.8rem;
    font-weight: 200;
    color: #838383;
}

g.c3-axis text
{
  font-size:  0.63rem; //change the size of the fonts
}

.title {
  font-size: 0.8rem;
  font-weight: 700;
  margin-bottom: 0px;
}
.subtitle {
  font-size: 0.7rem;
  font-style: italic;
  margin-bottom: 10px;
}
.container {
  padding-top:10px;
}
